@import 'tailwindcss';

@theme {
  --color-bg: #ebebeb;
  --color-primary: #16a681;
  --color-secondary: #d3d3d3;
  --color-accent: #4945ff;
  --color-text: #272727;
}

body {
  @apply bg-bg;
}

input {
  @apply text-text;
}

::placeholder {
  @apply text-text;
}
