@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* light theme */
@theme {
  --color-bg: #ebebeb;
  --color-secondary: #d3d3d3;
  --color-accent: #4945ff;
  --color-text: #272727;
}

/* dark theme */
@theme {
  --color-dark-bg: #0a0a0a;
  --color-dark-secondary: #121212;
  --color-dark-accent: #191919;
  --color-dark-text: #e0e0e0;
}

@layer components {
  .main-wrapper {
    @apply p-2 rounded-md shadow-md bg-white dark:bg-dark-secondary shadow-neutral-200 dark:shadow-dark-secondary;
  }
}

body {
  @apply bg-bg dark:bg-dark-bg select-none text-text dark:text-dark-text;
}

input {
  @apply text-text dark:bg-dark-accent dark:placeholder:text-dark-text dark:text-dark-text;
}

::placeholder {
  @apply text-text;
}

::-webkit-scrollbar {
  @apply w-0;
}
